

.navPadFix {
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
}

.dropDownMenuShowed {
  display: flex;
  flex-direction: column;
}

.servciesCollapseButton {
  background: none;
  border: none;
  padding: 0;
}
.collapseTextMobile {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.ourNavbar {
  background-color: #0A0909;
}
#dropdownNav{ 
  color: white;
}



@media only screen and (min-width: 992px) {
  /* .navPosFix {
    position: relative;
    right: 60px;
  } */
  #collapseMobile {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  #dropdownNav {
    display: none;
  }
}
