.techSection {
    background-color: #0A0909;
}

.techContainer {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.techImg {
    padding-top: 10px;
    width: 100px;
}
.nodeImg {  
    padding-top: 10px;
    width: 100px;
}
.reactImg {
    padding-top: 10px;
    width: 100px;
}
.figmaImg {
    padding-top: 10px;  
    width: 65px;
}
.mongoDBImg {
    padding-top: 10px;
    width: 50px;
}
.bootstrapImg {
    padding-top: 10px;
    width: 110px;
}
.webflowImg {
    width: 110px;
}

@media only screen and (max-width: 767px) {
    .nodeImg {  
        padding-top: 10px;
        width: 75px;
    }
    .reactImg {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100px;
    }
    .bootstrapImg {
        padding-top: 25px;
        width: 120px;
    }
    .techTitle {
        font-size: 24px;
    }
    .techText {
        font-size: 16px;
    }
    .techImg {
        width: 100px;
        padding-top: 20px;
    }
    .figmaImg {
        width: 70px;
    }
    .mongoDBImg {
        width: 50px;
    }
    .techContainer {
        width: 160px;
        height: 160px;
    }
}