.webdevTitleSection {
    background-color: #0A0909;
}

.webdevImage {
    width: 600px;
}




@media only screen and (min-width: 1300px) {
    .titlewebRow {
        padding-right: 50px;
        padding-left: 50px;
    }
    .alignmentFix {
        width: 50%;
    }
}
@media only screen and (max-width: 1300px){
    .viewProj {
        font-size: 16px;
    }
    .webdevImage {
        width: 450px
    }
    .titlewebRow {
        padding-right: 50px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .titlewebRow {
        padding-right: 0;
        padding-left: 15px;
    }
    .viewProj {
        font-size: 10px;
    }
    .webdevImage {
        width: 350px;
    }
    .webdevButton {
        width: 150px;
    }
    .webdevFontButton {
        font-size: 16px;
    }
    .webdevMobileCol {
        padding-top: 60px;
    }
}

@media only screen and (max-width: 600px) {
    .webdevTitleFont {
        font-size: 28px;
        margin-left: 30px;
    }
}